node_modules
**/node_modules

dist
**/dist

.turbo
**/.turbo

.git
**/.git

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

coverage
**/coverage

*.tsbuildinfo
